$background: rgb(250,250,250);
$grey-font: rgb(145,145,145);
$grey-font-focus: rgb(192,192,192);
$grey-border: rgb(219,219,219);
$grey-border-focus: rgb(168,168,168);
$blue-light: rgb(168, 223, 254); //button & register
$blue-dark: rgb(0,142,250); //button & register
$font-fb: rgb(55,76,135);
$font-fb-active: rgb(102,123,168);
$font-forgot: rgb(0,50,109);
$font-forgot-active: rgb(162,183,203);



